*{
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("../img/fondoesport.jfif");
}
img{
    background-color: rgb(117, 0, 163);
    border-radius: 50%;
    max-width: 50%;
}
.logo{
    
    display: flex;
    flex-direction: row;
    color: rgb(117, 0, 163);
    align-items: center;
    -webkit-text-stroke: 0.5px white; /* width and color */

    font-family: sans; color: rgb(117, 0, 163);
}
h2{
    background-color: rgb(117, 0, 163);
    color: white;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: black;
}
article{
    padding: 1em;
}
.button{
    background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
}

  
.button:hover {
    background-color: #ffffff; /* Green */
    color: rgb(0, 0, 0);
  }
  footer{
    background-color: gray;
    color: black;
    margin-bottom: auto;
  }